.basic {
    background-color: silver;
    font-family: "Helvetica Neue";
}

.landingDiv {
    font-size: 240%;
    margin-left: 20%;
    margin-bottom: 5vw;
    text-align: center;
}

#showPost {
    margin-left: 30%;
}

.showPostInfo {
    margin-bottom: 4vw;
}